@model AddressBook.Models.AddressBookModel
@{
    ViewBag.Title = "AddressBookResults";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<h2 id="results">Address Book Results</h2>

<p class="statement">First Name: @Model.FirstName</p>
<p class="statement">Middle Name: @Model.MiddleName</p>
<p class="statement">Last Name: @Model.LastName</p>
<p class="statement">Professional Title: @Model.ProfessionalTitle</p>
<p class="statement">Age: @Model.Age</p>
<p class="statement">Home Address: @Model.HomeAddress</p>
<p class="statement">Work Address: @Model.WorkAddress</p>
<p class="statement">Other Address: @Model.OtherAddress</p>
<p class="statement">Home Phone Number: @Model.HomePhoneNumber</p>
<p class="statement">Work Phone Number: @Model.WorkPhoneNumber</p>
<p class="statement">Mobile Phone Number: @Model.MobilePhoneNumber</p>
<p class="statement">Personal Email Address: @Model.PersonalEmailAddress</p>
<p class="statement">Work Email Address: @Model.WorkEmailAddress</p>
<p class="statement">Other Email Address: @Model.OtherEmailAddress</p>
<p class="statement">LinkedIn: @Model.LinkedIn</p>
<p class="statement">Website: @Model.Website</p>
<p class="statement">Twitter: @Model.Twitter</p>
<p class="statement">Facebook: @Model.Facebook</p>

